%h1 New question
= simple_form_for_resource(:html => { :id => 'question_form_id'}) do |f|
  = f.error_notification
  = render 'form', :f => f
  = f.button :wrapped

= link_to 'Back', resources_path

%p 
  preview:
  %i observe_form todo

#question_preview
