= f.input :title
= f.input :show_index
= f.input :before_html, input_html: { rows: 5, class: 'span6' }
= f.input :after_html, input_html: { rows: 5, class: 'span6' }
= f.input :show_position
= f.input :show_answers_on_faq
= f.input :published
= f.input :key, :hint => 'unique string'
