
= f.input :name, label: 'Auction Name', input_html: { class: 'span6' }
= f.input :description, input_html: { rows: 5 , class: 'span6' }
= f.input :location, input_html: { class: 'span6' }
= f.input :time_zone, :hint => "Make sure you set this correctly"
= f.input :hashtag, input_html: { class: 'span6' }

= f.input :event_start_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.event_start_at.try(:strftime,"%Y-%m-%d %H:%M")}
= f.input :event_end_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.event_end_at.try(:strftime,"%Y-%m-%d %H:%M")}

= f.input :default_lot_timing, as: :select, collection: Lot::TIMINGS, :include_blank => false

= f.input :default_sale_start_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.default_sale_start_at.try(:strftime,"%Y-%m-%d %H:%M")}, :hint => "For lots with timing set to 'scheduled'"
= f.input :default_sale_end_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.default_sale_end_at.try(:strftime,"%Y-%m-%d %H:%M")}, :hint => "For lots with timing set to 'scheduled'"

= #TODO f.input :allow_anonymous_bids
= f.input :charity_name, input_html: { class: 'span6'  }
= f.input :fundraising_target, input_html: {  class: 'span2', min: 0  }
= f.input :charity_contact_name, input_html: { class: 'span6'  }
= f.input :charity_contact_email, input_html: { class: 'span6'  }
= #TODO f.input :charity_approved
= #TODO f.input :payment_methods

.control-group
  .controls
    - if resource.picture.try(:id)
      %img.m#item_photo{:src => m_picture_path(resource.picture, :format => :jpg)}
    - else
      %img.s#item_photo


- f.object.picture or f.object.build_picture
= f.simple_fields_for :picture do |p|
  = p.input :image_file, as: :file, label: 'Photo File'
  = p.input :image_file_url, as: :url, label: 'Photo URL', hint: "You can either choose a file to upload as your photo, or supply the URL to a photo and we'll grab it for you.", input_html: { class: 'span6' }

