- for resource in resources
  %tr
    %td
      - if resource.picture
        %img.p80{:src => p80_picture_path(resource.picture, :format => :jpg)}
    %td
      #{resource.name}
      %br
      %em #{truncate(resource.description)}
    %td #{truncate(resource.location)}
    %td 
      - Time.zone = resource.time_zone  # FIXME
      #{resource.event_start_at}
      %br
      #{resource.event_end_at}
    %td
      = link_to 'Show', resource_path(resource)
      - if path_exists?(:edit_resource_path, resource)
        = link_to 'Edit', edit_resource_path(resource)
        = link_to 'Destroy', resource_path(resource) , 'data-confirm' => 'Are you sure?', 'data-method' => :delete
