.container

  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li.active
      %a(href="/home/auctions") Auctions

  %h4
    Listing:
  %h1
    Auctions

  %p
    %strong
      Setting up an Auction? Please first read our
      = succeed "." do 
        %strong
          %a(href="https://docs.google.com/document/pub?id=1FhREBHkTAFkLI20bmnRqR7AIMu2R_kjPHQ1W3WIrDIk" target="_blank")> Auction Organiser Guide

  %p
    - if path_exists?(:new_resource_path)
      %a.btn.btn-primary{:href => new_resource_path} Add New #{resource_name.humanize}

  - if resources.respond_to? 'num_pages'
    = paginate resources

  %table.table.table-striped.table-bordered.table-condensed.max-width
    = render :partial => 'header'
    = render :partial => 'row'

  - if resources.respond_to? 'num_pages'
    = paginate resources



  %h3 Auction States
  - Auction::STATES.each do |s|
    %p
      %strong #{s}
      \-
      #{Auction::STATE_DESCRIPTIONS[s]}


