.container

  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li
      %a(href="/home/auctions") Auctions
      %span.divider &rarr;
    %li.active
      = truncate resource.name
      %span.divider &rarr;
    %li
      %a{:href => resource_lots_path} Lots

  .well
    This Auction is detailed below. To add Lots, and then items
    to each lot, click on the
    %em Lots
    link above.


  %h4
    Auction:
  %h1
    = resource.name.titleize
  %p 
    %a.btn.btn-small{:href => edit_resource_path} Edit
    - resource.state_events.each do |event|
      - if event.to_s.match(/^organiser/)
        %a.btn.btn-small{:href => resource_path(resource, 'auction[state_event]' => event ), 'data-method' => 'PUT'} #{event.to_s.humanize}
    = helplink("auction_show_links")

    %a.btn.btn-small.btn-danger.right{:href => resource_path, 'data-confirm' => 'Are you sure?', 'data-method' => :delete } Delete



  %table.table.table-striped.table-bordered
    - for column in [ :name, :description, :location, :time_zone, :event_start_at, :event_end_at, :default_lot_timing, :charity_contact_email, :charity_contact_name, :charity_contact_telephone, :charity_name ]
      %tr
        %th= column.to_s.humanize
        %td= resource.send(column)
    - if resource.default_sale_start_at    
      %tr
        %th Default Sale Start At
        %td= resource.default_sale_start_at.to_s(:long)
    - if resource.default_sale_end_at    
      %tr
        %th Default Sale End At
        %td= resource.default_sale_end_at.to_s(:long)
    %tr
      %th Manual Payment Accepted
      %td= resource.manual_payment_accepted
    - if resource.manual_payment_accepted
      %tr
        %th Manual Payment Instructions
        %td= resource.manual_payment_instructions
    %tr
      %th JustGiving Payment Accepted
      %td= resource.justgiving_payment_accepted
    - if resource.justgiving_payment_accepted
      %tr
        %th JustGiving SDI Charity Id
        %td= resource.justgiving_sdi_charity_id
    %tr
      %th Auction State
      %td
        - resource.class::STATES.each do |s|
          - if resource.state == s
            %strong #{resource.state} 
          - else
            #{s}
          \- #{resource.class::STATE_DESCRIPTIONS[s]}
          %br
    %tr
      %th Log
      %td.log #{resource.log}
    %tr
      %th Picture
      %td
        - if resource.picture
          %img.p100{:src => p100_picture_path(resource.picture, :format => :jpg)}


