
.row
  .span10.offset1
    %ul.breadcrumb
      %li
        %a(href="/home") Home
        %span.divider /
      %li
        %a(href="/home/auctions") Auctions
        %span.divider /
      %li.active
        %a{:href => resource_path}= truncate resource.name

    %h4
      Auction:
    %h1
      = resource.name.titleize


    %table.table.table-striped.table-bordered
      - for column in controller.resource_service.content_columns
        %tr
          %th= column.human_name
          %td= resource.send(column.name)
      %tr
        %th Picture
        %td
          - if resource.picture.id
            %img.p100{:src => p100_picture_path(resource.picture, :format => :jpg)}

    - if path_exists?(:resource_lots_path)
      %p
        %a{:href => resource_lots_path} View Auction Lots

    = link_to 'Edit this ' + resource_name, edit_resource_path
    |
    \#{link_to 'Back to Index', resources_path}
