.container

  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li
      %a(href="/home/auctions") Auctions
      %span.divider &rarr;
    %li.active
      = truncate resource.name
      %span.divider &rarr;
    %li
      %a{:href => resource_lots_path} Lots

  .well
    This Auction is detailed below. To add Lots, and then items
    to each lot, click on the
    %em Lots
    link above.


  %h4
    Auction:
  %h1
    = resource.name.titleize

  - if resource.state == "draft"
    .alert.alert-success
      %p
        This auction is currently in state
        %strong draft.
      %p
        Please continue to setup your auction and
        %em lots 
        (and the required 
        %em items 
        for those lots).
      %p
        The Auction will not appear 
        on our bidding site until it has been submitted to 
        PositiveBid and then approved by us.
      %p
        When you're ready please use the 
        %b Organiser Submit for Approval
        button below to submit the auction to us for approval.

  %p 
    %a.btn.btn-small{:href => edit_resource_path} Edit
    - resource.state_events.each do |event|
      - if event.to_s.match(/^organiser/)
        %a.btn.btn-small.btn-success{:href => resource_path(resource, 'auction[state_event]' => event ), 'data-method' => 'PUT'} #{event.to_s.humanize}
        = helplink("auction_#{event.to_s}")

    %a.btn.btn-small.btn-danger.right{:href => resource_path, 'data-confirm' => 'Are you sure?', 'data-method' => :delete } Delete



  %table.table.table-striped.table-bordered
    - for column in [ :name, :description, :time_zone, :charity_contact_email, :charity_contact_name, :charity_contact_telephone, :charity_name ]
      %tr
        %th= column.to_s.humanize
        %td= resource.send(column)
    %tr
      %th Manual Payment Accepted
      %td= resource.manual_payment_accepted
    - if resource.manual_payment_accepted
      %tr
        %th Manual Payment Instructions
        %td= resource.manual_payment_instructions
    %tr
      %th JustGiving Payment Accepted
      %td= resource.justgiving_payment_accepted
    - if resource.justgiving_payment_accepted
      %tr
        %th JustGiving SDI Charity Id
        %td= resource.justgiving_sdi_charity_id
    %tr
      %th Auction State
      %td
        - resource.class::STATES.each do |s|
          - if resource.state == s
            %strong #{resource.state} 
          - else
            #{s}
          \- #{resource.class::STATE_DESCRIPTIONS[s]}
          %br
    %tr
      %th Log
      %td.log #{resource.log}
    %tr
      %th Picture
      %td
        - if resource.picture
          %img.p100{:src => p100_picture_path(resource.picture, :format => :jpg)}


