.container
  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider /
    %li
      %a(href="/admin_auctions") Admin Auctions
      %span.divider /
    %li
      %a{:href => admin_auction_path(resource.auction)}= truncate resource.auction.name
      %span.divider /
    %li
      %a{:href => resources_path} Admin Lots
      %span.divider /
    %li.active
      #{resource.number}: #{truncate resource.name}
      %span.divider /
    %li
      %a{:href => admin_auction_admin_lot_admin_items_path(resource.auction, resource)} Admin Items
      or
      %a{:href => admin_auction_admin_lot_admin_bids_path(resource.auction, resource)} Admin Bids

  %h4 Lot:
  %h1 #{resource.number} - #{resource.name.titleize}
  %p  
    %a.btn.btn-small{:href => edit_resource_path} Edit
    - resource.state_events.each do |event|
      - if event.to_s.match(/^admin/)
        %a.btn.btn-small{:href => resource_path(resource, 'lot[state_event]' => event ), 'data-method' => 'PUT'} #{event.to_s.humanize}
    %a.btn.btn-small.btn-danger.right{:href => resource_path, 'data-confirm' => 'Are you sure you want to delete the Lot? really sure?', 'data-method' => :delete } Delete

  %table.table.table-striped.table-bordered
    - for column in  [ :name, :number, :position, :buy_now_price, :min_increment, :collected, :timing, :sale_start_at, :sale_end_at, :cents_paid, :paid_at, :actual_start_at, :actual_end_at, :state,]
      %tr
        %th= column.to_s.humanize
        %td
          - if column.to_s.match(/_at$/)
            = resource.send(column).try(:to_s, :long)
          - else
            = resource.send(column)
    %tr
      %th Log
      %td.log #{resource.log}





