.container
  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider /
    %li
      %a(href="/admin_auctions") Admin Auctions
      %span.divider /
    - if @admin_auction
      %li
        %a{:href => admin_auction_path(@admin_auction)}= truncate @admin_auction.name
        %span.divider /
      %li
        %a{:href => admin_auction_admin_lots_path(@admin_auction)} Admin Lots
        %span.divider /
    - if @admin_lot
      %li.active
        %a{:href => admin_auction_admin_lot_path(@admin_auction, @admin_lot)} #{@admin_lot.number}: #{truncate @admin_lot.name}
        %span.divider /
    %li.active
      Admin Items

  - if @admin_lot
    %h4
      Admin Lot: #{@admin_lot.number}: #{@admin_lot.name}
  %h1
    Admin Items

  - if resources.respond_to? 'num_pages'
    = paginate resources

  %table.table.table-striped.table-bordered.table-condensed.max-width
    = render :partial => 'header'
    = render :partial => 'row'

  - if resources.respond_to? 'num_pages'
    = paginate resources


