
%h2 Users created X days ago
%table.table
  %tr
    %tr
      %th days ago
      - (0..30).each do |i|
        %th #{i.to_s} 
    %tr
      %th users #
      - (0..30).each do |i|
        %td= User.where(["created_at >= ? and created_at < ?", Time.now - (i+1).days, Time.now - i.days ]).count.to_s




- users = User.where(["last_request_at > ?", Time.now - 2.days ]).order('last_request_at DESC')
%h2 Users active in past 2 days: #{users.size}
%table.table.wb
  = render :partial => 'header'
  = render :partial => 'user', :collection => users



