- for resource in resources
  %tr[resource]
    %td.handle
      %i.icon-move
      #{resource.position}
    %td
      - if resource.picture
        %img.p80{:src => p80_picture_path(resource.picture, :format => :jpg)}
    %td
      = truncate(resource.name)
      %br
      %em= truncate(resource.description)
    %td= truncate resource.terms
    %td= truncate resource.collection_info
    %td= truncate resource.donor_name
    %td= truncate resource.donor_byline
    %td= truncate resource.organiser_notes
    %td
      %a.btn{:href => resource_path(resource)} View
