.container
  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li
      %a(href="/home/auctions") Auctions
      %span.divider &rarr;
    %li
      %a{:href => home_auction_path(@auction)}= truncate @auction.name
      %span.divider &rarr;
    %li
      %a{:href => home_auction_lots_path(@auction)} Lots
      %span.divider &rarr;
    %li.active
      %a{:href => home_auction_lot_path(@auction, @lot)} #{@lot.number}: #{truncate @lot.name}
      %span.divider &rarr;
    %li.active
      Items for Lot

  .well
    %p 
      The Items for this Lot are listed below.
      - if resources.blank?
        To add new items to this Lot use the 
        %em Add New Item
        button. One or more items can be added to each lot.
      - else
        The order of the items can be rearranged by clicking and dragging the 
        %em Position
        column.

  %h4
    Lot #{@lot.number}: #{@lot.name}
  %h1
    Items
  %p
    - if path_exists?(:new_resource_path)
      - if resources.blank?
        %a.btn.btn-primary(title="Each Lot needs an item"){:href => new_resource_path} Add Item to this Lot
      - else
        %a.btn.btn-primary{:href => new_resource_path} Add another Item to this Lot

  - if resources.respond_to? 'num_pages'
    = paginate resources

  %table.table.table-striped.table-bordered.table-condensed.max-width
    = render :partial => 'header'
    = render :partial => 'row'

  - if resources.respond_to? 'num_pages'
    = paginate resources


:javascript
  $('table tbody').sortable({
    axis: 'y', 
    dropOnEmpty:false, 
    handle:'.handle', 
    items:'tr', 
    update:function(){
    $.ajax({
      complete: function(request){
        $('#false').effect('highlight');},
      data: $(this).sortable('serialize',{key:'item[]'}) + '&_method=put',
      dataType:'script',
      type:'post',
      url: "#{order_resources_url}"})
    }
  });
