.container
  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li
      %a(href="/home/auctions") Auctions
      %span.divider &rarr;
    %li
      %a{:href => home_auction_path(@auction)}= truncate @auction.name
      %span.divider &rarr;
    %li
      %a{:href => home_auction_lots_path(@auction)} Lots
      %span.divider &rarr;
    %li.active
      %a{:href => home_auction_lot_path(@auction, @lot)} #{@lot.number}: #{truncate @lot.name}
      %span.divider &rarr;
    %li
      %a{:href => resources_path} Items
      %span.divider &rarr;
    %li.active
      #{truncate @item.name}

  .well
    %p
      To add additional items to this Lot click the blue
      %em Items 
      link above and then use the blue
      %em Add Another Item to Lot 
      button.  The Items link above will also show you the Items currently in this Lot.
    %p
      To add additional lots to this Auction click the blue
      %em Lots
      link above and then use the
      %em Add New Lot 
      button.   The Lots link above will also show you the Lots currently in this Auction.
    - if @auction.state == 'draft'
      %p
        Remember that when the Auction is fully set up you will need to submit the 
        %strong draft
        Auction to PositiveBid for approval. To do this click on the blue 
        Auction Name link above and
        then use the 
        %em Organiser Submit for Approval 
        button. 

  %h4
    Item:
  %h1
    = resource.name.titleize
  %p 
    %a.btn.btn-small{:href => edit_resource_path} Edit
    %a.btn.btn-small.btn-danger.right{:href => resource_path, 'data-confirm' => 'Are you sure? really sure? This will delete the item.', 'data-method' => :delete } Delete Item

  %table.table.table-striped.table-bordered
    - for column in controller.resource_service.content_columns
      %tr
        %th= column.human_name
        %td= resource.send(column.name)
    %tr
      %th Picture
      %td
        - if resource.picture
          %img.p100{:src => p100_picture_path(resource.picture, :format => :jpg)}

