.container
  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider /
    %li
      %a(href="/home/auctions") Auctions
      %span.divider /
    %li
      %a{:href => home_auction_path(@auction)}= truncate @auction.name
      %span.divider /
    %li
      %a{:href => home_auction_lots_path(@auction)} Lots
      %span.divider /
    %li.active
      %a{:href => home_auction_lot_path(@auction, @lot)} #{@lot.number} - #{truncate @lot.name}
      %span.divider /
    %li
      %a{:href => resources_path} Items
      %span.divider /
    %li.active
      #{truncate @item.name}

  %h4
    Item:
  %h1
    = resource.name.titleize
  %p 
    %a.btn.btn-small{:href => edit_resource_path} Edit
    %a.btn.btn-small.btn-danger{:href => resource_path, 'data-confirm' => 'Are you sure?', 'data-method' => :delete } Delete

  %table.table.table-striped.table-bordered
    - for column in controller.resource_service.content_columns
      %tr
        %th= column.human_name
        %td= resource.send(column.name)
    %tr
      %th Picture
      %td
        - if resource.picture.id
          %img.p100{:src => p100_picture_path(resource.picture, :format => :jpg)}

