
= f.input :name, :label => 'Lot Name'
= f.input :number, label: 'Lot Number', hint: 'Must be unique', input_html: { min: 0 }
= f.input :buy_now_price, input_html: { min: 0 }, hint: 'Optional'
= f.input :min_increment, input_html: { min: 1 }
= f.input :timing, as: :select, collection: Lot::TIMINGS, include_blank: false
= f.input :sale_start_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.sale_start_at.try(:strftime,"%Y-%m-%d %H:%M")}
= f.input :sale_end_at, as: :string, input_html: { class: 'ui-datetime-picker span3' , :value => f.object.sale_end_at.try(:strftime,"%Y-%m-%d %H:%M")}
= f.input :collected


:coffeescript

  $('#lot_timing').on 'change', ->
    $this = $(this)
    if $this.val() == "scheduled"
      $this.closest('div.control-group').next().show()
      $this.closest('div.control-group').next().next().show()
    else
      $this.closest('div.control-group').next().hide()
      $this.closest('div.control-group').next().next().hide()

  $ -> $('#lot_timing').trigger 'change'

