- for resource in resources
  %tr[resource]
    %td.handle
      %i.icon-move
      #{resource.position}
    %td ##{resource.number} #{resource.name}
    %td £#{resource.min_increment}
    %td
      = resource.timing
      %br
      = resource.sale_start_at.try(:to_s,:long)
      %br
      = resource.sale_end_at.try(:to_s, :long)
    %td
      = resource.actual_start_at.try(:to_s,:long)
      %br
      = resource.actual_end_at.try(:to_s, :long)
    %td
      = resource.state
    %td
      %a.btn{:href => resource_path(resource)} View
