- for resource in resources
  %tr
    %td ##{resource.number} #{resource.name}
    %td= resource.buy_now_price
    %td £#{resource.min_increment}
    %td
      = resource.sale_start_at.to_s(:long)
      %br
      = resource.sale_end_at.to_s(:long)
    %td
      = resource.state
    %td
      - resource.state_events.each do |event|
        - if event.to_s.match(/^organiser/)
          %a.btn.btn-small{:href => resource_path(resource, 'lot[state_event]' => event ), 'data-method' => 'PUT'} #{event}
    %td
      = link_to 'Show', resource_path(resource)
      - if path_exists?(:edit_resource_path, resource)
        = link_to 'Edit', edit_resource_path(resource)
        = link_to 'Destroy', resource_path(resource) , 'data-confirm' => 'Are you sure?', 'data-method' => :delete
