.container

  %ul.breadcrumb
    %li
      %a(href="/home") Home
      %span.divider &rarr;
    %li
      %a(href="/home/auctions") Auctions
      %span.divider &rarr;
    %li
      %a{:href => home_auction_path(@auction)}= truncate @auction.name
      %span.divider &rarr;
    %li.active
      Lots

  .well
    %p 
      - if resources.blank?
        No Lots have yet been added to this Auction.
        To add new lots to this auction use the 
        %em Add New Lot
        button. One or more items should be added to each lot.
      - else
        The Lots for this auction are listed on this page.
        Each lot needs a unique Lot Number. The order of the lots can be rearranged by clicking and dragging the 
        %em Position
        column.

  %h4
    Auction: #{@auction.name}
  %h1
    Lots
  %p
    - if path_exists?(:new_resource_path)
      %a.btn.btn-primary{:href => new_resource_path} Add New #{resource_name.humanize}

  - if resources.respond_to? 'num_pages'
    = paginate resources

  - if resources.any?
    %table.table.table-striped.table-bordered.table-condensed.max-width
      = render :partial => 'header'
      = render :partial => 'row'


  - if resources.respond_to? 'num_pages'
    = paginate resources

  - if resources.any?
    .well
      %h4 Lot States
      %p A brief description of the state lots can be in:
      - Lot::STATES.each do |s|
        %strong #{s}
        \-
        #{Lot::STATE_DESCRIPTIONS[s]}
        %br

:javascript
  $('table tbody').sortable({
    axis: 'y', 
    dropOnEmpty:false, 
    handle:'.handle', 
    items:'tr', 
    update:function(){
    $.ajax({
      complete: function(request){
        $('#false').effect('highlight');},
      data: $(this).sortable('serialize',{key:'lot[]'}) + '&_method=put',
      dataType:'script',
      type:'post',
      url: "#{order_resources_url}"})
    }
  });
