%h1
  = resource_name.titleize
  - if enclosing_resource && path_exists?(:enclosing_resource_path)
    for #{link_to enclosing_resource_name, enclosing_resource_path}
- for column in controller.resource_service.content_columns
  %p
    %b
      = column.human_name
      \:
    = h resource.send(column.name)

- if path_exists?(:resource_items_path)
  %p
    %a{:href => resource_items_path} View Lot Items

= link_to 'Edit this ' + resource_name, edit_resource_path
|
\#{link_to 'Back to Index', resources_path}
