= f.error_messages
= f.input :title, input_html: { class: 'span8' }
= f.input :body, input_html: { class: 'span8', rows: 10 }, :hint => 'You can use Markdown syntax, http://en.wikipedia.org/wiki/Markdown '
= f.input :author
= f.input :published
= f.input :published_at
