.row
  .span10.offset1
    %h1
      Edit #{resource_name.titleize}
      - if enclosing_resource && path_exists?(:enclosing_resource_path)
        for #{link_to enclosing_resource_name, enclosing_resource_path}

    = simple_form_for_resource(:html => {:class => 'form-horizontal'}) do |f|
      = f.error_messages
      = render :partial => 'form', :locals => { :f => f }
      = f.button :wrapped

    = link_to 'Show this ' + resource_name, resource_path
    |
    \#{link_to 'Back to Index', resources_path}
