.row
  .span10.offset1
    %p
      Login for everyone...
    %p
      %a.btn.btn-yellow(href="/app")  View Auctions and Bidding &rarr;
    %br
    %hr
    %p
      Login for Auction Organisers only...
    %p
      %a.btn.btn-primary(href="/auth/twitter") Login using Twitter &rarr;
    %p
      %a.btn.btn-primary(href="/auth/google_oauth2") Login using Google or Google Apps &rarr;
    %p
      %a.btn.btn-primary(href="/auth/facebook") Login using facebook &rarr;

/
  .row
    .span10.offset1
      %p or

      = simple_form_for @user_session, url: { :action => :create }  do |f|
        %fieldset
          %legend Login
          = f.error_messages
          = f.input :email, :required => false, :input_html => { :autofocus => true }
          = f.input :password, :required => false
          = f.input :remember_me , :as => :boolean, :required => false, :inline_label => 'Remember Me', :label => false
          .form-actions
            = f.button :submit, value: 'Login', class: 'btn-primary', 'data-disable-with' => 'Logging in...'

      %br
      %p
        %a{:href => new_password_reset_path} Forgotten password? 
        or 
        %a(href="/signup") signup 
        for a new account.
