.row
  .span10.offset1
    %a(href="/auth/twitter") Log in with Twitter

  .span10.offset1
    = simple_form_for @user_session, url: { :action => :create }  do |f|
      %fieldset
        %legend Login
        = f.error_messages
        = f.input :email, :required => false, :input_html => { :autofocus => true }
        = f.input :password, :required => false
        = f.input :remember_me , :as => :boolean, :required => false, :inline_label => 'Remember Me', :label => false
        .form-actions
          = f.button :submit, value: 'Login', class: 'btn-primary', 'data-disable-with' => 'Logging in...'

    %br
    %p
      %a{:href => new_password_reset_path} Forgotten password? 
      or 
      %a(href="/signup") signup 
      for a new account.
