!!!
%html(lang="en")
  %head
    %title= @page_title || "PositiveBid"
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="apple-touch-icon-precomposed" href="/phonegap/icons/Icon.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/phonegap/icons/Icon-72.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/phonegap/icons/Icon@2x.png")
    %link(href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css")
    - if Rails.env.development?
      = javascript_include_tag 'jquery-all', :charset => 'utf-8' #, :debug => Rails.env.development?
    - else
      = javascript_include_tag("http://code.jquery.com/jquery-1.8.3.min.js", :charset => 'utf-8')
      = javascript_include_tag("https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js", :charset => 'utf-8')
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", :charset => 'utf-8'
    %link{:href => "/blog/posts.atom", :rel => "alternate", :type => "application/atom+xml"}/
    - if @document_assets
      = stylesheet_link_tag 'document'
      = javascript_include_tag 'document' 
    = csrf_meta_tags
    - if Rails.env.production? and session[:admin_id].blank?
      = render 'shared/google_analytics'
  %body{:class => "#{@body_class if @body_class}"}
    .navbar.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
    
          - unless @logo_only
            %a.brand(href="/") 
              %strong.lato.pyellow PositiveBid
    
          .nav-collapse
            %ul.nav.pull-right
              - if current_user
                %li{:class => "#{"active" if params[:controller] == 'home' and params[:action] == "show"}"}
                  %a(href="/home") Home
              %li{:class => "#{"active" if params[:controller] == 'published_faqs'}"}
                %a(href="/public/published_faqs/1" title="frequently asked questions") FAQ
              %li{:class => "#{"active" if params[:controller] == 'root' and params[:action] == "about"}"}
                %a(href="/about") About
              %li{:class => "#{"active" if params[:controller] == 'blogs'}"}
                %a(href="/blog") Blog

              %li 
                %span
                  - # %a.btn.btn-yellow.btn-bold(href="#" disabled title="Check Back soon for our next Auction!") I'm a bidder
                  %a.btn.btn-yellow.btn-bold(href="/app")  I'm a bidder



    - if flash[:notice]
      .container
        .flash.alert.alert-info.notice= flash[:notice].html_safe
    - if flash[:error]
      .container
        .flash.alert.alert-error.error= flash[:error].html_safe
    - if flash[:alert]
      .container
        .flash.alert.alert-error.error= flash[:alert].html_safe
    - if flash[:success]
      .container
        .flash.alert.alert-success.success= flash[:success].html_safe
    = yield
    = render 'shared/page_extras'
